dbt_packages/
logs/
!logs/.gitkeep
target/
!target/.gitkeep
dbt_internal_packages/

profiles/.user.yml

package-lock.yml

.venv/
venv/
.nox/
nox/
dbt_packages*/
logs/
logs*/
models_py*/
target_*/
build/
build_*/
