name: Unit tests
on:
  push:
    branches:
      - main
  pull_request:
# TODO uncomment when the workflow gets stable.
#    paths:
#      - macros/
#      - integration_tests/models/

jobs:
  bigquery:
    runs-on: ubuntu-latest
    env:
      DBT_DATA_PRIVACY_TEST_PROJECT: "${{ secrets.DBT_DATA_PRIVACY_TEST_PROJECT }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        pip-requirements: ["requirements-1.1.txt", "requirements-1.2.txt"]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/${{ matrix.pip-requirements }}'
      - name: Install dbt
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          pip install -r "requirements/${{ matrix.pip-requirements }}"
      - name: Run unit tests
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          bash run_unit_tests.sh --target bigquery  --vars-path resources/vars/vars-bigquery.basic.yml
      # Save artifacts for debug
      - name: Save logs and artifacts if failed
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: save-logs-and-target-${{ matrix.python-version }}-${{ matrix.pip-requirements }}
          retention-days: 3
          path: |
            integration_tests/logs
            integration_tests/target
      - id: exit
        run: exit ${{ steps.apply.outputs.exitcode }}
