name: Unit tests
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - macros/**/*
      - integration_tests/**/*

jobs:
  bigquery:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Python 3.8
          - python-version: "3.8"
            pip-requirements: "requirements-1.1.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.2.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.3.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.4.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.5.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.6.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.7.txt"
          # Python 3.9
          - python-version: "3.9"
            pip-requirements: "requirements-1.1.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.2.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.3.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.4.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.5.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.6.txt"
          - python-version: "3.9"
            pip-requirements: "requirements-1.7.txt"
          - python-version: "3.8"
            pip-requirements: "requirements-1.8.txt"
          # Python 3.10
          - python-version: "3.10"
            pip-requirements: "requirements-1.1.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.2.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.3.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.4.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.5.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.6.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.7.txt"
          - python-version: "3.10"
            pip-requirements: "requirements-1.8.txt"
          # Python 3.11
          - python-version: "3.11"
            pip-requirements: "requirements-1.5.txt"
          - python-version: "3.11"
            pip-requirements: "requirements-1.6.txt"
          - python-version: "3.11"
            pip-requirements: "requirements-1.7.txt"
          - python-version: "3.11"
            pip-requirements: "requirements-1.8.txt"
          # Python 3.12
          - python-version: "3.12"
            pip-requirements: "requirements-1.8.txt"
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: '**/${{ matrix.pip-requirements }}'
      - name: Install dbt
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          pip install -r "requirements/${{ matrix.pip-requirements }}"
      - name: Run unit tests
        working-directory: "${{ github.workspace }}/integration_tests"
        run: |
          bash run_unit_tests.sh --target bigquery  --vars-path resources/vars/vars-bigquery.basic.yml
      # Save artifacts for debug
      - name: Save logs and artifacts if failed
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: save-logs-and-target-${{ matrix.python-version }}-${{ matrix.pip-requirements }}
          retention-days: 3
          path: |
            integration_tests/logs
            integration_tests/target
      - id: exit
        run: exit ${{ steps.apply.outputs.exitcode }}
